<span style='color: #000' title='Frames'>   624</span><span style='color: #009' title='Memory'>  86016.00 KB</span><span style='color: #900' title='Time'>   2007.11 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />