body {
margin: 0;
padding: 0; 
/* background-color: #993300; */

background-color:#D98871;
clear: both;
}

#container{
margin: 0px auto;
width: 888px;
background-image: url(../images/sfondocorpo.jpg);
background-repeat: repeat-y;
height: 100%;
overflow: hidden;
}
/* beginning top part */
#header{
margin: 0px auto;
width: 740px;
height: 244px;
background-image: url(../images/corpohead.jpg);
background-repeat: repeat-y;
}

#top{
margin: 0px auto;
width: 740px;
height: 12px;
background-image: url(../images/ombrasu.jpg);
background-position: top;
background-repeat: no-repeat;
}

#middle{
margin: 0px auto;
width: 740px;
height: 220px;

/*background-image: url(../images/header.jpg);
 background-position: center;
 background-repeat: no-repeat;*/

/*background-image: url(../images/wood_strip.png);*/ /* commented by preeti on 20th feb 14 */

color:#993300;

}

#title{
	
/*width: 400px;*/

width: 600px;

height: 100px;
float: right;
text-align: right;
color: #ffffff;
margin-top: 34px;
padding-right: 60px;

}

#down{
margin: 0px auto;
width: 740px;
height: 12px;
background-image: url(../images/ombragiu.jpg);
background-position: bottom;
background-repeat: no-repeat;

text-align: right;
vertical-align: top;

}

/* end top part*/
/* start main part*/
#main {
margin: 0px auto;
width: 888px;
height: 100%;
overflow: hidden;
}

#mainleft
{
	/*width: 264px;*/
	
	width: 220px; /* above line commented and this line added by preeti on 26th feb 14 */
	
	float: left;
}


#contmenu
{
	/*width: 264px;*/
	
	width: 215px; /* above line commented and this line added by preeti on 26th feb 14 */
	
	/*height: 278px;*/
	
	height: auto;/* above line commented and this line added by preeti on 26th feb 14 */
	
	float: left;
}

#menu{

/*width: 150px; */

width: 154px; /* modified by vijay on 12th march 14  */

margin: 11px 40px 30px 81px;

background-color:#993300; /* added by preeti on 24th Feb 14 */

height: auto; /* added by preeti on 24th Feb 14 */

}

/* menu formatting*/

#menu ul{

/*margin-left: 5px;

padding-left: 5px;*/

/*margin:5px;

padding:5px;
*/
margin:2px;

padding:1px;
/* modified by vijay on 12th march 2014 */
}

#menu ul li{

/*margin-top: 10px;*/

list-style-type: none;

/* below lines added by vijay 12th march 2014 */
background-color: #4B4B4B;
    border: 1px solid #000000;
    font-weight: bold;
    margin-top: 2px;
    padding: 5px;
}


li .active /* css property added by preeti on 16th apr 14 */
{
	background-color: #787878;
}
	

/*#menu ul li:hover{background-color:grey;}*/ /*added by vijay */

#menu ul li:hover{background-color:#787878;} /* color code #787878 added for grey by preeti on 12th mar 14 */

#menu ul li a{
font-family: Verdana, Arial, san-serif, Times;
font-size: 12px;

/*color: #663333;*/

color: #FFFFFF;

text-decoration: none;
}



/*end menu*/
/*undermenu round links*/
.roundcontainer{
width: 157px;
height: 108px;
float: right;
}

.roundcontainer a img{
text-decoration: none;
border: none;
}
/*content formatting*/


#changing
{

margin-top: 0px;

/*width: 560px;*/

width: 580px; /* above line commented by preeti and this line added by preeti on 26th feb 14 */

height: 100%;

float: left;

overflow: hidden;

}

#words{
margin-top: 0px;
width: 560px;
height: 95px;
/*background-image: url(../images/words.jpg);
background-repeat: no-repeat;
background-position: center;*/
}

#left{
margin-top: 0px;
width: 330px;
float: left;
overflow: hidden;
}

#right{
margin-top: 0px;
width: 230px;
float: right;
overflow: hidden;
}

.flowerlarge{
width: 330px;
height: 40px;
margin-top: 5px;
background-image: url(../images/flowerlarge.jpg);
background-repeat: no-repeat;
text-align: right;
}
.wrap
{
	width: 100px;
	white-space:nowrap;
       
}

.flowersmall{
width: 230px;
height: 40px;
margin-top: 5px;
background-image: url(../images/flowerlarge.jpg);
background-repeat: no-repeat;
text-align: right;
}

.squaresmall{
margin-top: 10px;
margin-left: 20px;
width: 200px;
background-color: #ffffff;
border: 1px solid #cc9999;
}

.squaresmall p{
padding: 10px;
}

/* text formatting*/
#footer{
margin: 0px auto;
width: 888px;
height: 86px;
background-image: url(../images/foot.jpg);
background-repeat: no-repeat;
}


/* text formatting*/
h3{
font-family: Verdana, Arial, Times, san-serif;
font-size: 12px;
font-weight: bold;
color: #663333;
}

p{
font-family: Verdana, Arial, Times, san-serif;
font-size: 11px;
color: #333333;
padding-left: 20px;
}

#credits{
line-height: 30px;
font-family: "Trebuchet MS", Verdana, Arial, san-serif;
font-size: 11px; 
text-align: center;
color: #cc9966;
}

#credits a{
text-decoration: none;
font-weight: bold;
color: #cc9966;
}

#credits a:hover{
text-decoration: underline;
font-weight: bold;
color: #ffffff;
}

/* below CSS added by preeti on 13th dec 13 */

.loginsquaresmall
{
	margin-top: 10px;
	margin-left: 20px;
	
	width: 565px; /* line modified by preeti on 5th mar 14 */
	
	height: auto;
	
	background-color: #ffffff;
	border: 1px solid #cc9999;
	
	overflow: hidden;
}
/*  added 2 on 5th mar pavan */
.loginsquaresmalls
{
	margin-top: 10px;
	margin-left: 20px;
	
	width: 565px; /* line modified by preeti on 5th mar 14 */
	
	height: 350px;
	
	background-color: #ffffff;
	border: 1px solid #cc9999;
	overflow: hidden;
	
}


/* below property added by preeti on 7th mar 14 */
.loginsquaresmalls h2
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

.loginsquaresmallsp
{
	margin-top: 10px;
	margin-left: 20px;
	
	width: 565px; /* line modified by preeti on 5th mar 14 */
	
	height: 130px;
	
	background-color: #ffffff;
	border: 1px solid #cc9999;
	overflow: hidden;
	
}

/* below property added by preeti on 7th mar 14 */
.loginsquaresmallsp h2
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

/*  end 5th mar pavan */
.usersquaresmall
{
	margin-top: 10px;
	margin-left: 20px;
	width: 530px;
	
	/*height: 850px;*/
	
	height: auto;
	
	background-color: #ffffff;
	border: 1px solid #cc9999;
}

.usersquaresmall p
{
	padding: 10px;
}

.usersquaresmall label
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

.usersquaresmall input[type=text]
{
	/*margin-left:50px;*/
	
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.usersquaresmall select
{
	margin-left:70px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}


.usersquaresmall input[type=password]
{
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.usersquaresmall input[type=submit]
{
	margin-left:210px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
}

.usersquaresmall h2
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

.usersquaresmall span
{
	margin-left:90px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:rgb(255, 0, 0);
}

.usersquaresmall table
{
	/*width:100%;
	
	height:100%;*/
}

.usersquaresmall form
{
	clear:both;
}
//
.usersquaresmall p
{
	padding: 10px;
}

.usersquaresmall label
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

.usersquaresmall input[type=text]
{
	/*margin-left:50px;*/
	
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.usersquaresmall select
{
	margin-left:70px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}


.usersquaresmall input[type=password]
{
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.usersquaresmall input[type=submit]
{
	margin-left:210px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
}

.usersquaresmall h2
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

.usersquaresmall span
{
	margin-left:90px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:rgb(255, 0, 0);
}

.userquaresmall table
{
	/*width:100%;
	
	height:100%;*/
}

.userquaresmall form
{
	clear:both;
}
/* below lines added by preeti on 20th feb 14 */


.pdfsquaresmall
{
	margin-top: 10px;
	margin-left: 20px;
	width: 530px;
	
	height: 850px;
	
	background-color: #ffffff;
	border: 1px solid #cc9999;
	
	padding: 2px;
	
	overflow: scroll;
}

.pdfsquaresmall p
{
	padding: 10px;
}

.pdfsquaresmall label
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

.pdfsquaresmall input[type=text]
{
	margin-left:210px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.pdfsquaresmall input[type=password]
{
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.pdfsquaresmall input[type=submit]
{
	margin-left:210px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
}

.pdfsquaresmall h2
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

.pdfsquaresmall span
{
	margin-left:90px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:rgb(255, 0, 0);
}

.pdfsquaresmall a
{
	margin-left:30px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
	
	text-decoration:none;
	
	background-color:#993300;
	
	color:#FFFFFF;
	
	font-size:12px;
	
	padding:3px;
}

.loginsquaresmall p
{
	padding: 10px;
}

.loginsquaresmall label
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
	
	/*width:30px;*/
}

.loginsquaresmall input[type=text]
{
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.loginsquaresmall input[type=password]
{
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.loginsquaresmall input[type=submit]
{
	margin-left:210px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
}

.loginsquaresmall h2
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
	
	padding:5px; /* line added by preeti on 5th mar 14 */
	
	margin:5px;/* line added by preeti on 5th mar 14 */
}

.loginsquaresmall span
{
	margin-left:90px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:rgb(255, 0, 0);
}

.loginsquaresmall span p
{
	margin-left:90px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:rgb(255, 0, 0);
}

.user
{
	/*margin-left:10px;*/
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
	
	text-decoration:none;
	
	background-color:#993300;
	
	color:#FFFFFF;
	
	font-size:12px;
	
	padding:3px;
}

.pass
{
	margin-left:5px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
	
	text-decoration:none;
	
	background-color:#993300;
	
	color:#FFFFFF;
	
	font-size:12px;
	
	padding:3px;
}




/* below css added by preeti on 16thdec13 */

.regsquaresmall
{
	margin-top: 10px;
	margin-left: 20px;
	
	width: 565px;/* line modified by preeti on preeti on 5th mar 14 */
	
	/*height: 850px;*/ /* changed by preeti on 21stjan14 */
	
	/*height: auto;*/ /* commented by preeti on 24thfeb14 */
	
	height: auto;
	
	background-color: #ffffff;
	border: 1px solid #cc9999;
	
	/*overflow: auto;*//* commented by preeti on 24thfeb14 */
	
	font-size:14px;
	
	overflow: hidden;	
}

.regsquaresmall p
{
	padding: 2px;
}

.regsquaresmall label
{
	color:#993300;
}

.regsquaresmall input
{
	text-transform: uppercase;
}

.regsquaresmall textarea
{
	text-transform: uppercase;
}

.regsquaresmall select
{
	text-transform: uppercase;
}

.regsquaresmall span
{
	/*margin-left:90px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;*/
	
	color:rgb(255, 0, 0);
}

.upper
{
	text-transform: uppercase;
}

.heading
{
	text-align:center;
	
	font-size:20px;
	
	color:#993300;
	
	padding:5px;
	
	margin:5px;
	
	font-weight:bold;
}

.error 
{
	text-align:center;
	
	font-size:14px;
	
	color:rgb(255, 0, 0);
	
	/*padding:5px;
	
	margin:5px;*/
	
}

.error p 
{
	text-align:center;
	
	font-size:14px;
	
	color:rgb(255, 0, 0);
	
	/*padding:5px;
	
	margin:5px;*/
	
}


.regsquaresmall .left
{
	margin-top: 0px;
	
	width: 120px;
	
	float: left;
	
	overflow: hidden;
	
	/*margin-left:80px;*/
	
	margin-left:5px;
	
	padding:5px;
	
	vertical-align: top;
	
	margin-bottom:5px;
	
	/*border:1px solid green;*/
	
}

.regsquaresmall .right
{
	margin-top: 0px;
	
	width: 230px;
	
	float: right;
	
	overflow: hidden;	
	
	/*margin-right:60px;*/
	
	margin-right:130px;
	
	padding:5px;
	
	vertical-align: top;
	
	margin-bottom:5px;
	
	/*border:1px solid orange;*/
	
}

.sub
{
	/*margin-left:80px;*/
		
}

.extra-info
{
	font-size: 12px;
	
	color: #993300;
}

.star
{
	color: #FF0000;
}

.editsquaresmall
{
	margin-top: 10px;
	margin-left: 20px;
	width: 500px;
	
	height: 1000px;
	
	background-color: #ffffff;
	border: 1px solid #cc9999;
	
	overflow: auto;
}

.editsquaresmall p
{
	padding: 2px;
}

.editsquaresmall label
{
	color:#993300;
}

.editsquaresmall .left
{
	float:left;
	
	width: 120px;
	
	padding:2px;
	
	margin:2px;
}

.editsquaresmall .right
{
	float:right;
	
	width: 180px;
	
	padding:2px;
	
	margin:2px;
}

.collect
{
	padding: 5px;
	
	margin: 5px;
	
	vertical-align:top;
	
	margin-left:80px;
	
	margin-right:60px;
	
	height:30px;
}

.collect-photo
{
	height:190px;
	
	padding: 5px;
	
	margin: 5px;
	
	vertical-align:top;
	
	margin-left:80px;
	
	margin-right:60px;
	
}

/* below css added by preeti on 23rddec13 */

.listsquaresmall
{
	margin-top: 10px;
	margin-left: 20px;
	
	/*width: 530px;*/
	
	width: 565px; /* above line commented and this line added by preeti on 5th mar 14 */
	
	/*height: 900px;*/
		
	height: 1400px;/* above line commented and this line added by preeti on 27th mar 14 */
	
	background-color: #ffffff;
	border: 1px solid #cc9999;
}

.listsquaresmall p
{
	padding: 10px;
}

.listsquaresmall label
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

.listsquaresmall input[type=text]
{
	/*margin-left:50px;*/
	
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.listsquaresmall select
{
	margin-left:70px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}


.listsquaresmall input[type=password]
{
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.listsquaresmall input[type=submit]
{
	margin-left:210px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
}

.listsquaresmall h2
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

.listsquaresmall span
{
	margin-left:90px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:rgb(255, 0, 0);
}

.listsquaresmall table
{
	/*width:100%;
	
	height:100%;*/
}

.listsquaresmall form
{
	clear:both;
}
/* /PAV 25-02-13  */ 
.listsquaresmall2
{
	margin-top: 10px;
	margin-left: 20px;
	
	/*width: 530px;*/
	
	width: 560px; /* above line commented and this line added by preeti on 26th feb 14*/
	
	height: 1900px;
	
	background-color: #ffffff;
	border: 1px solid #cc9999;
}

.listsquaresmall2 p
{
	padding: 10px;
}

.listsquaresmall2 label
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

/*.listsquaresmall2 input[type=text]
{
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.listsquaresmall2 select
{
	margin-left:70px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}*/ /* commented by preeti on 11th mar 14 */


.listsquaresmall2 input[type=password]
{
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.listsquaresmall2 input[type=submit]
{
	
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
}

.listsquaresmall2 h2
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

/*.listsquaresmall2 span
{
	margin-left:90px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:rgb(255, 0, 0);
}*/ /* commented by preeti on 11th mar 14 */

.listsquaresmall2 table
{
	/*width:100%;
	
	height:100%;*/
}

.listsquaresmall2 form
{
	clear:both;
}

/*.listsquaresmall a
{
	float:left;
	
	clear:right;
	
	text-decoration:none;
	
	background-color:#993300;
	
	color:#FFFFFF;
	
	font-size:12px;
	
	padding:3px;
}*/

.link
{
	float:left;
	
	clear:right;
	
	text-decoration:none;
	
	background-color:#993300;
	
	color:#FFFFFF;
	
	font-size:12px;
	
	padding:3px;
	
	/*margin:2px;*/ /* commented and below line added by preeti on 15th apr 14 */
	
	margin:5px;
}

.login-link
{
	float:right;
	
	clear:right;
	
	text-decoration:none;
	
	background-color:#993300;
	
	color:#FFFFFF;
	
	font-size:16px;
	
	padding:3px;
}


.del-link
{
	float:left;
	
	clear:right;
	
	text-decoration:none;
	
	background-color:#993300;
	
	color:#FFFFFF;
	
	font-size:12px;
	
	padding:3px;
}

.imglink
{
	float:left;
	
	clear:right;
	
	text-decoration:none;
	
	font-size:12px;
	
	padding:3px;
}


.searchsquaresmall
{
	margin-top: 10px;
	margin-left: 20px;
	width: 530px;
	
	/*height: 550px;*/ /* line commented and below line added by preeti on 14th feb 14 */
	
	height: auto;
	
	background-color: #ffffff;
	border: 1px solid #cc9999;
	
	padding: 2px;
}

.searchsquaresmall p
{
	padding: 10px;
}

.searchsquaresmall label
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

.searchsquaresmall input[type=text]
{
	margin-left:210px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.searchsquaresmall input[type=password]
{
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.searchsquaresmall input[type=submit]
{
	margin-left:210px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
}

.searchsquaresmall h2
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

.searchsquaresmall span
{
	margin-left:90px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:rgb(255, 0, 0);
}

.searchsquaresmall a
{
	margin-left:30px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
	
	text-decoration:none;
	
	background-color:#993300;
	
	color:#FFFFFF;
	
	font-size:12px;
	
	padding:3px;
}

.search
{
	color:#993300;
	
	float:right;
}

.ajax-msg
{
	color: #FF0000;
	
}

.username
{
	float:left;
}

#div_username
{
	display:none;
}

#div_mobile
{
	display:none;
}

#div_email
{
	display:none;
}

.collect-signup
{
	vertical-align:top;
		
	height:50px;
}

/* below css added by preeti on 30thdec13 */

.tokensquaresmall
{
	margin-top: 10px;
	margin-left: 20px;
	width: 500px;
	
	height: 300px;
	
	background-color: #ffffff;
	border: 1px solid #cc9999;
	
	overflow: auto;
}

.tokensquaresmall p
{
	padding: 10px;
}

.tokensquaresmall label
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
	
	width:30px;
}

.tokensquaresmall input[type=text]
{
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.tokensquaresmall input[type=password]
{
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.tokensquaresmall input[type=submit]
{
	margin-left:210px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
}

.tokensquaresmall h2
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

.tokensquaresmall span
{
	margin-left:90px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:rgb(255, 0, 0);
}

/* below css added by preeti on 31stdec13 */

.passsquaresmall
{
	margin-top: 10px;
	margin-left: 20px;
	
	width: 565px; /* modified by preeti on 5th mar 14 */
	
	height: 350px;
	
	background-color: #ffffff;
	border: 1px solid #cc9999;
	
	overflow: auto;
}

.passsquaresmall p
{
	padding: 10px;
}

.passsquaresmall label
{
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
	
	width:120px;
	
	margin-left:100px;
}

.passsquaresmall input[type=text]
{
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.passsquaresmall input[type=password]
{
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.passsquaresmall input[type=submit]
{
	margin-left:210px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
}

.passsquaresmall h2
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

.passsquaresmall span
{
	margin-left:90px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:rgb(255, 0, 0);
}

.notif
{
	clear: both;
	
	float: right;
	
	padding-right: 5px;
	
	margin-bottom:20px;
}

.contentsquaresmall
{
	margin-top: 10px;
	margin-left: 20px;
	
	width: 565px; /* modified by preeti on 5th mar 14 */
	
	/*height: auto;*/ /* commented by preeti on 5th feb 14 */
	
	height: 500px;
	
	background-color: #ffffff;
	border: 1px solid #cc9999;
	
	padding:5px;
	overflow: scroll; /* added by preeti on 20th feb 14 */
}

.contentsquaresmall p
{
	padding: 10px;
}

.contentsquaresmall div 
{
	margin:5px;
	
	padding:5px;
}

.contentsquaresmall div a
{
	color:#993300;
}

.contentsquaresmall h2
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

.contentsquaresmall span
{
	margin-left:90px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:rgb(255, 0, 0);
}

.contentsquaresmall span p
{
	margin-left:90px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:rgb(255, 0, 0);
}

.contentsquaresmall .left
{
	margin-top: 0px;
	
	width: 120px;
	
	float: left;
	
	overflow: hidden;
	
	/*margin-left:80px;*/
	
	margin-left:5px;
	
	padding:5px;
	
	vertical-align: top;
	
	margin-bottom:5px;
	
	/*border:1px solid green;*/
	
}

.contentsquaresmall .right
{
	margin-top: 0px;
	
	width: 230px;
	
	float: right;
	
	overflow: hidden;	
	
	/*margin-right:60px;*/
	
	margin-right:130px;
	
	padding:5px;
	
	vertical-align: top;
	
	margin-bottom:5px;
	
	/*border:1px solid orange;*/
	
}

.not_left
{
	float:left;
	
	clear:both;
}

/* css added for ckeditor page on 16thjan14 */

.cksquaresmall
{
	margin-top: 10px;
	margin-left: 20px;
	
	/*width: 530px;*/
	
	width: 565px; /* above line commented this line added by preeti on 5th mar 14 */
	
	height: 800px;
	
	background-color: #ffffff;
	border: 1px solid #cc9999;
	
	overflow: auto;
}

.cksquaresmall p
{
	padding: 2px;
}

.cksquaresmall label
{
	color:#993300;
}

.cksquaresmall .left
{
	margin-top: 0px;
	
	width: 120px;
	
	float: left;
	
	overflow: hidden;
	
	/*margin-left:80px;*/
	
	margin-left:5px;
	
	padding:5px;
	
	vertical-align: top;
	
	margin-bottom:5px;
	
	/*border:1px solid green;*/
	
}

.cksquaresmall .right
{
	margin-top: 0px;
	
	width: 230px;
	
	float: right;
	
	overflow: hidden;	
	
	/*margin-right:60px;*/
	
	margin-right:130px;
	
	padding:5px;
	
	vertical-align: top;
	
	margin-bottom:5px;
	
	/*border:1px solid orange;*/
	
}

.tbl-heading /* added by preeti on 22nd jan 14 */
{
	background-color: #B8860B;
	
	color:white;
}

.td-left
{
	width:40px;
}

h1
{
	color:#993300;	
}


/* below css added by preeti on 17th feb 14 */

.emailsquaresmall
{
	margin-top: 10px;
	margin-left: 20px;
	
	width: 565px; /* line modified by preeti on 5th mar 14 */
	
	height: 350px;
	
	background-color: #ffffff;
	border: 1px solid #cc9999;
	
	overflow: auto;
}

.emailsquaresmall p
{
	padding: 10px;
}

.emailsquaresmall label
{
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
	
	width:80px;
	
	margin-left:120px;
}

.emailsquaresmall input[type=text]
{
	margin-left:10px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.emailsquaresmall input[type=password]
{
	margin-left:50px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:right;
}

.emailsquaresmall input[type=submit]
{
	margin-left:210px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
}

.emailsquaresmall h2
{
	margin-left:100px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:#993300;
}

.emailsquaresmall span
{
	margin-left:90px;
	
	margin-bottom:30px;
	
	float:left;
	
	clear:left;
	
	color:rgb(255, 0, 0);
}

.form
{
	width: 99%;
	
	padding:2px;
	
	margin:2px;

	/*overflow:auto;*/	
	
}

#name_div
{
	/*padding:2px;
	
	margin:2px;*//* commented by preeti on 11th mar 14 */
}

/*.sub-form
{
	width: 99%;

	background-color:#993300;

	color: #FFFFFF;
	
	text-align:center;

}*/

.sub-form
{
	text-align: center;width: 90%;font-weight: bold;
	
	color: #993300;
	
	clear:both;
	
	margin-top:10px;
	
	margin-bottom:5px;
}

.subsub-form
{
	text-align: left;
	
	width: 90%;
	
	font-weight: bold;
	
	color: #000000;
	
	clear:both;
	
	/*margin-top:5px;
	
	margin-bottom:5px;*/
	
	margin:10px;
	
	padding:5px;
	
	font-size:12px;
}

.left-col
{
	float:left;
	
	width:46%;
	
	padding:2px;
	
	margin: 2px;
	
	clear:left;
}
.right-col
{
	float:right;
	
	width:46%;

	padding:2px;
	
	margin: 2px;
	
	clear:right;
}

.bind-col
{
	float:left;
	
	clear:both;
	
	height:20px;
	
	padding:5px;
	
	margin:5px;
	
	width:92%;
}

.bind-col-photo
{
	float:left;
	
	clear:both;
	
	height:65px;
	
	padding:5px;
	
	margin:5px;
	
	width:92%;
}


#mar_div
{
	
	/*padding:2px; 
	
	margin:2px;*/ /* commented by preeti on 11th mar 14 */
}


#pg_div
{
	/*padding:2px;
	
	margin:2px;*/ /* commented by preeti on 11th mar 14 */
}

.small /* modified by preeti on 12th mar 14 */
{
	font-size:10px;
	
	color:red;	
	
	line-height:70%;
	
	padding:1px;
	
	margin:12px;
	
	white-space:nowrap;
}

.clear
{
	clear:both;
	
	height:20px;
}

#emp_div
{
	/*padding:2px;
	
	margin:2px;*/ /* commented by preeti on 11th mar 14 */
}

#ssc_div
{
	/*padding:2px;
	
	margin:2px;*/ /* commented by preeti on 11th mar 14 */
}

/* below css added by preeti on 11th mar 14 */

.s-bind-col
{
	float:left;
	
	clear:both;
	
	height:20px;
	
	padding:5px;
	
	margin:10px;
	
	width:92%;
}

.s-left-col
{
	float:left;
	
	width:15%;
	
	padding:2px;
	
	margin: 2px;
	
	vertical-align:top;
	
	text-align:left;	
}
.s-right-col
{
	float:left;
	
	width:30%;
	
	padding:2px;
	
	margin: 2px;
	
	vertical-align:top;
	
	text-align:left;	
}

.txt-label /* added by preeti on 12th mar 14 */
{
	font-size:12px;
	
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	
	color:#993300;	
	
	margin:14px;
	
	white-space: nowrap;
}

.col-label /* added by preeti on 12th mar 14 */
{
	font-size:12px;
	
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	
	color:#993300;	
	
	margin:2px;

	font-weight:bold;
}

.col-data /* added by preeti on 12th mar 14 */
{
	font-size:12px;
	
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	
	color:#993300;	
	
	margin:2px;
}
