<span style='color: #000' title='Frames'> 10081</span><span style='color: #009' title='Memory'> 122368.00 KB</span><span style='color: #900' title='Time'>  54892.71 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />